
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="welcome_email.css">
  </head>
  <body>
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: whitesmoke;">
    <h1 style="color: crimson;">Welcome to X-Mark!</h1>
    <p>
      You have successfully signed up to X-Mark!,
      Your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <a href="https://x-mark.netlify.app/">X-Mark</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    </div>
  </body>
</html>