<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css2?family=Julee&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
     <style type="text/css">
      .email-logo img {
        width: 6rem;
        height: 6rem;
      }

      .logo-words {
        font-family: "Julee";
        font-size: 2rem;
        margin: 0rem;
      }
      
      .username-msg {
        font-weight: bold;
      }

      .username-box p {
        color: crimson;
        font-weight: bold;
      }
    
       
     </style>
  </head>
  <body style="font-family: Roboto; height: 100vh;">
 
<table align="center" width="600">
 <tr>
  <td bgcolor="whitesmoke" align="center" cellspacing="0" cellpadding="0" border="0" >
  <table cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
        <td > 
          <div class="email-logo" width="20">
            <%= image_tag attachments['logo.jpg'].url %>
          </div>
        </td>

        <td>
          <div class="logo-words-container">
            <p class="logo-words">-Mark</p>
          </div>
        </td>
    </tr>
</table>
    
  </td>
 </tr>
 <tr>
 
  <td bgcolor="whitesmoke" align="center">
   <p class="welcome-message">
      Welcome! You have successfully signed up to X-Mark!
    </p>
   <div class="username-container">
    <div><p class="username-msg">Your username is:</p></div>
    <div class="username-box"><p> <%= @user.username %></p></div>
  </div>

    <p style="color: rgba(31, 31, 31, 0.747)">
      To login to the site, just follow this link: <a style="color: crimson;" href="https://x-mark.netlify.app/">X-Mark</a>.
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </td>
 </tr>
</table>
  </body>
</html>

